<!-- Footer -->
<footer class="footer-productCart">
    <section>
        <div>
            <h4>Quiénes somos</h4>
        </div>
        <div class="somos-productCart">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum provident doloremque, recusandae veniam est libero impedit doloribus.</p>
        </div>
    </section>
    <section>
        <div>
            <h4>Contáctanos</h4>
        </div>
        <div class="contact-form-productCart">
            <form action="" method="">
                <input type="text" name="nombre" placeholder="Tu nombre"> <br>
                <input type="text" name="email" placeholder="Escribe tu email"> <br>
                <textarea name="mensaje" id="mensaje" cols="24" rows="4" placeholder="Compártenos tu mensaje aquí"></textarea> <br>
                <input type="button" value="Enviar">
            </form>
        </div>
    </section>
    <section>
        <div class="socialmedia-productCart">
            <div class="follow-productCart">
                <h4>Síguenos</h4>
            </div>
            <div class="redessociales-productCart">
                <img class="redes-productCart" src="/img/fb.png" alt="Facebook">
                <img class="redes-productCart" src="/img/ig.png" alt="Instagram">
                <img class="redes-productCart" src="/img/tw.png" alt="Twitter">
            </div>
        </div>
    </section>
</footer>
