<!-- Header -->
<header class="header-productCart">
    <div class="header-top-productCart">
        <div class="logo-productCart">
            <div class="logotipo-productCart"><img src="/img/logo.png" alt="aquí se muestra el logo"></div>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </div>
        <div class="navbar-productCart">
            <nav class="navbar-top-productCart">
                <ul>
                    <li><a href="">Galería</a></li>
                    <li><a href="">Explorar por zona</a></li>
                    <li><i class="fas fa-search"></i><input type="text" name="search-top-productCart" placeholder="Buscar"></li>
                    <li><a href=""><i class="fas fa-user"></i>Iniciar sesión</a></li>
                    <li><a href=""><i class="fas fa-cart-plus"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>