<!-- Header -->
<header class="header-productCart">
    <div class="header-top-productCart">
        <div class="logo-productCart">
            <div class="logotipo-productCart"><a href="../"><img src="/img/unarbol.png" alt="aquí se muestra el logo"></a></div>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </div>
        <div class="navbar-productCart">
            <nav class="navbar-top-productCart">
                <ul>
                    <li><a href="../listProd">Galería</a></li>
                    <li><a href="">Explorar por zona</a></li>
                    <li><i class="fas fa-search"></i><form action="" method=""><input type="text" name="search-top-productCart" placeholder="Buscar"></form></li>
                    <li><a href="../login"><i class="fas fa-user"></i>Iniciar sesión</a></li>
                    <li><a href="../productCart"><i class="fas fa-cart-plus"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>