<div class="contenedor-carrusel">
    <div class="carrusel">
        <div class="slider">
            <% for(let i=0; i < dataArboles.length; i++) { %>
            <div class="slide" id="slide-1">
                <a href="/productDetail/<%=dataArboles[i].id%>">
                    <img src="<%= dataArboles[i].imagen1 %>" alt="imagen">
                </a>
            </div>
            <% } %>
        </div>
    </div>
</div>