<div class="contenedor-carrusel">
    <div class="carrusel">
        <ul class="slider">
            <li id="slide1">
                <img src="./img/arboles_mexicanos1.jpg" alt="Picture: arboles">
            </li>
            <li id="slide2">
                <img src="./img/arboles_mexicanos2.png" alt="Picture: arboles">
            </li>
            <li id="slide3">
                <img src="./img/arboles_mexicanos3.jpg" alt="Picture: arboles">
            </li>
            <li id="slide4">
                <img src="./img/arboles_mexicanos4.jpg" alt="Picture: arboles">
            </li>
            <li id="slide5">
                <img src="./img/arboles_mexicanos5.jpg" alt="Picture: arboles">
            </li>
        </ul>
        <ul class="menu">
            <li class="slide1">
                <a href="#slide1"></a>
            </li>
            <li class="slide2">
                <a href="#slide2"></a>
            </li>
            <li class="slide3">
                <a href="#slide3"></a>
            </li>
            <li class="slide4">
                <a href="#slide4"></a>
            </li>
            <li class="slide5">
                <a href="#slide5"></a>
                <!-- <p>◉</p> -->
            </li>
        </ul>
    </div>
</div>