<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <title>Un árbol para ti - Editar Producto</title>
</head>
<body>
    <!-- Header -->
    <%- include('../partials/header') %>
    <main>
        <h1 class="title-login"> Editar Producto </h1>
        <br>
        <div class="login-box">
            <br>
            <!-- El contenido va aquí -->
        </div>
    </main>
    <!-- Footer -->
    <%- include('../partials/footer') %>
</body>
</html>