<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <title>Un árbol para ti - Panel de Administrador</title>
</head>
<body>
    <!-- Header -->
    <%- include('../partials/header') %>
    <main>
        <h1 class="title-login"> Panel de Administrador </h1>
        <br>
        <div class="login-box">
            <br>
            <div class="admin-buttons-box">
                <br>
                <div class="admin-buttons-container">
                    <a href="./addProduct" class="admin-button">Agregar Producto</a>
                </div>
                <br>
                <br>
                <div class="admin-buttons-container">
                    <a href="./editProduct" class="admin-button">Editar Producto</a>
                </div>
                <br>
            </div>
            <br>
        </div>
    </main>
    <!-- Footer -->
    <%- include('../partials/footer') %>
</body>
</html>