<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" conten="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Homeunarbolparati</title>
    </head>
    <body>
        <ul class="nav-bar">
            <li><a href="">Galería</a></li>
            <li><a href="">Explora tu zona</a></li>
            <li><a href="">Log in</a></li>
            <li><a href="">Sing up</a></li>
            <li><a href="">Tu carrito</a></li>
        </ul>
        
    </body>
    <footer>
        
    </footer>
</html>