<!DOCTYPE html>
<html lang="es">
    <head>
    <%- include('./partials/head') %>
    <title>Un árbol para ti - Inicio</title>
    </head>
<body>
    <!-- Header -->
    <%- include('./partials/header') %>
    <!-- Main -->
    <main>
        <div class="header-bottom-productCart">
            <h2>Nuestros productos</h2>
            <%- include('./partials/slider') %>
        </div>
        <div class="box-region">
        <h3><a href="#">Región norte</a></h3>
        </div>
        <div class="box-region">
        <img src="/img/region_norte.jpg" alt="region_norte">
        </div>
        <div class="box-region">
        <h3><a href="#">Región centro</a></h3>
        </div>
        <div class="box-region">
        <img src="/img/region_centro.jpg" alt="region_centro">
        </div>
        <div class="box-region">
        <h3><a href="#">Región sur</a></h3>
        </div>
        <div class="box-region">
        <img src="/img/region_sur.jpg" alt="region_sur"> 
        </div>           
        <div class="title-box-map">
            <h3>¡Encuentra tu árbol!</h3>
        </div>
        <div class="box-map">
            <img src="/img/P_M.jpg" alt="pais">
        </div>
    </main>
    <!-- Footer -->
    <%- include('./partials/footer') %>

</body>
</html>