<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:wght@300;400;500&family=Viaoda+Libre&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Log in</title>
</head>
<body>
    <header class="header-productCart">
        <div class="header-top-productCart">
            <div class="logo-productCart">
                <div class="logotipo-productCart"><img src="/img/logo.jpg" alt="aquí se muestra el logo"></div>
                <div class="burger-menu">
                    <i class="fa fa-bars burger"></i>
                </div>
            </div>
        </div>
    </header>
    <main>
    <h1 class="title-login"> Acceso </h1>
    <br>
    <form action="resultado.html" method="POST">
        <div class="login-box">
            <br><div class="login">
                <label for="correo" class="label"> Correo:  </label>
                <input type="email" name="correo" id="correo"> 
            </div>
            <br>
            <div class="login">
                <label for="password" class="label"> Contraseña:  </label>
                <input type="password" name="password" id="password">
            </div>
            <br>
            <div class="login-v2">
                <label for="recordar" > Recordar mi contraseña para este sitio  </label>
                <input type="checkbox" name="recordar" id="recordar">
            </div>
            <div class="login">
                <button type="submit" id="boton-login"> Enviar </button>
            </div>
            <div class="login-v2">
                <label for="olvide"> Olvidé mi contraseña  </label>
                <input type="checkbox" name="olvide" id="olvide">
            </div>
        </div>
    </form>
    </main>
    <!-- Footer -->
    <footer class="footer-productCart">
        <section>
            <div>
                <h4>Quiénes somos</h4>
            </div>
            <div class="somos-productCart">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum provident doloremque, recusandae veniam est libero impedit doloribus.</p>
            </div>
        </section>
        <section>
            <div>
                <h4>Contáctanos</h4>
            </div>
            <div class="contact-form-productCart">
                <form action="" method="">
                    <input type="text" name="nombre" placeholder="Tu nombre"> <br>
                    <input type="text" name="email" placeholder="Escribe tu email"> <br>
                    <textarea name="mensaje" id="mensaje" cols="24" rows="4" placeholder="Compártenos tu mensaje aquí"></textarea> <br>
                    <input type="button" value="Enviar">
                </form>
            </div>
        </section>
        <section>
            <div class="socialmedia-productCart">
                <div class="follow-productCart">
                    <h4>Síguenos</h4>
                </div>
                <div class="redessociales-productCart">
                    <img class="redes-productCart" src="/img/fb.png" alt="Facebook">
                    <img class="redes-productCart" src="/img/ig.png" alt="Instagram">
                    <img class="redes-productCart" src="/img/tw.png" alt="Twitter">
                </div>
            </div>
        </section>
    </footer>
</body>
</html>