<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %>
    <title>Un árbol para ti - Log in</title>
</head>
<body>
    <!-- Header -->
    <%- include('./partials/header') %>
    <main>
    <h1 class="title-login"> Acceso </h1>
    <br>
    <form action="resultado.html" method="POST">
        <div class="login-box">
            <br><div class="login">
                <label for="correo" class="label"> Correo:  </label>
                <input type="email" name="correo" id="correo"> 
            </div>
            <br>
            <div class="login">
                <label for="password" class="label"> Contraseña:  </label>
                <input type="password" name="password" id="password">
            </div>
            <br>
            <div class="login-v2">
                <label for="recordar" > Recordar mi contraseña para este sitio  </label>
                <input type="checkbox" name="recordar" id="recordar">
            </div>
            <div class="login">
                <button type="submit" id="boton-login"> Enviar </button>
            </div>
            <div class="login-v2">
                <a href=""> Olvidé mi contraseña </a>
            </div>
        </div>
    </form>
    </main>
    <!-- Footer -->
    <%- include('./partials/footer') %>
</body>
</html>