<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Un árbol para ti - Carrito</title>
</head>
<body>
    <!-- Header -->
    <%- include('./partials/header') %>
    <!-- Main -->
    <main class="main-productCart">
        <!-- <div class="header-bottom-productCart">
            <h2>Productos similares</h2>
            <%- include('./partials/slider') %>
        </div> -->
        <div class="titulo-productCart">
            <h2 class="title-yourCart">Tu carrito de compras</h2>
        </div>
        <section class="section-productCart">
            <article class="article-productCart">
                <div class="product-left">
                    <div class="product-name">
                        <h3>Producto</h3>
                    </div>
                    <div class="imagen-producto">
                        <img src="/img/products/tabe-1.jpg" alt="Imagen del producto">
                    </div>
                </div>
                <div class="product-right">
                    <div class="product-right-superior">
                        <div>
                            <label for="cantidad-producto">Cantidad: </label>
                            <input type="number" name="cantidad-producto" value="1" min="1" max="100" size="3">
                        </div>
                        <div class="button-quitar-productCart">
                            <input type="button" value="Quitar del carrito">
                        </div>
                    </div>
                    <div class="product-right-inferior">
                        <label for="precio-producto">Precio</label>
                        <input type="text"  name="precio-producto" value="1234" size="5" readonly>
                    </div>
                </div>
            </article>
            <article class="article-productCart">
                <div class="product-left">
                    <div class="product-name">
                        <h3>Producto</h3>
                    </div>
                    <div class="imagen-producto">
                        <img src="/img/products/inga-1.jpg" alt="Imagen del producto">
                    </div>
                </div>
                <div class="product-right">
                    <div class="product-right-superior">
                        <div>
                            <label for="cantidad-producto">Cantidad: </label>
                            <input type="number" name="cantidad-producto" value="1" min="1" max="100" size="3">
                        </div>
                        <div class="button-quitar-productCart">
                            <input type="button" value="Quitar del carrito">
                        </div>
                    </div>
                    <div class="product-right-inferior">
                        <label for="precio-producto">Precio</label>
                        <input type="text"  name="precio-producto" value="2345" size="5" readonly>
                    </div>
                </div>
            </article>
            <article class="article-total-productCart">
                <div class="total-productCart"> 
                    <div>
                        <label for="subtotal-carrito">Subtotal</label>
                        <input type="text" name="subtotal-carrito" value="3579" size="4" readonly>
                    </div>
                    <div>
                        <label for="iva-carrito">Iva</label>
                        <input type="text" name="iva-carrito" value="0" size="4" readonly>
                    </div>
                    <div>
                        <label for="total-carrito">Total</label>
                        <input type="text" name="total-carrito" value="3579" size="4" readonly>
                    </div>
                </div>
            </article>
            <article class="button-compra-carrito">
                <button type="submit">Continuar con la compra</button>
            </article>
        </section>
    </main>
    <!-- Footer -->
    <%- include('./partials/footer') %>

</body>
</html>