<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %>
    <title>Un árbol para ti - Detalle de producto </title>
</head>
<body>
    <!-- Header -->
    <%- include('./partials/header') %>
    <div>
        <h1 class="title-login">Página del producto</p>
    </div>
    <main>
        <div class="box-product-detail">
            <div class="box-product-detail-column">
                <div class="title-detail-product">  Jinicuil, cuajinicuil </div>
                <div> <img class="img-product-detail" src="/img/inga-1.jpg" alt="inga-1"> </div>
                <div> <img class="img-product-detail" src="/img/inga-2.jpg" alt="inga-1"> </div>
                <div class="precio-carrito">  <strong> $1234 </strong> </div>
                <div class="precio-carrito">Agregar carrito <a href=""><i class="fas fa-cart-plus" id="carrito"></i></a> </div>
            </div>
            <div class="box-product-detail-column">
                <div class="title-detail-product"> Región sur </div>
                <div> <strong> Características</strong> </div>
                <div><ul>
                    <li> <strong>Nombre científico:</strong>  <em>Inga Jinicuil</em> </li>
                    <li> <strong>Nombre común:</strong>  Jinicuil, cuajinicuil, paterno, coctzán. </li>
                    <li> <strong>Tipo de árbol:</strong>  Perennifolio. </li>
                    <li> <strong>Altura:</strong>  15 a 20 m. </li>
                    <li> <strong>Crecimiento:</strong> rápido. </li>
                    <li> <strong>Riego:</strong> frecuente(4-5 veces por semana). </li>
                    <li> <strong>Suelo:</strong> bueno y enriquecido. </li>
                    <li> <strong>Clima:</strong> húmedo. </li>
                    <li> <strong>Luz necesaria:</strong> pleno sol. </li>
                    <li> <strong>Fruto:</strong> comestible. </li>
                </ul></div>
            </div>
        </div>
        <div class="box-product-detail">
            <div class="box-product-detail-column">
                <div class="title-detail-product">  Rosa morada </div>
                <div> <img class="img-product-detail" src="/img/tabe-1.jpg" alt="inga-1"> </div>
                <div> <img class="img-product-detail" src="/img/tabe-2.jpg" alt="inga-1"> </div>
                <div class="precio-carrito">  <strong> $1234 </strong> </div>
                <div class="precio-carrito">Agregar carrito <a href=""><i class="fas fa-cart-plus" id="carrito"></i></a> </div>
            </div>
            <div class="box-product-detail-column">
                <div class="title-detail-product"> Región sur </div>
                <div> <strong> Características</strong> </div>
                <div><ul>
                    <li> <strong>Nombre científico:</strong>  <em>Tabebuia rosae</em> </li>
                    <li> <strong>Nombre común:</strong>  Rosa morada. </li>
                    <li> <strong>Tipo de árbol:</strong>  Caducifolio. </li>
                    <li> <strong>Altura:</strong>  25 a 30 m. </li>
                    <li> <strong>Crecimiento:</strong> rápido. </li>
                    <li> <strong>Riego:</strong> moderado (2-3 veces por semana). </li>
                    <li> <strong>Suelo:</strong> calizo y con mal drenaje. </li>
                    <li> <strong>Clima:</strong> templado y subhúmedo. </li>
                    <li> <strong>Luz necesaria:</strong> pleno sol. </li>
                    <li> <strong>Fruto:</strong> no comestible. </li>
                </ul></div>
            </div>
        </div>
        <div class="box-product-detail">
            <div class="box-product-detail-column">
                <div class="title-detail-product">  Pino lacio </div>
                <div> <img class="img-product-detail" src="/img/pinus1.jpg" alt="inga-1"> </div>
                <div> <img class="img-product-detail" src="/img/pinus2.jpg" alt="inga-1"> </div>
                <div class="precio-carrito">  <strong> $1234 </strong> </div>
                <div class="precio-carrito">Agregar carrito <a href=""><i class="fas fa-cart-plus" id="carrito"></i></a> </div>
            </div>
            <div class="box-product-detail-column">
                <div class="title-detail-product"> Región centro </div>
                <div> <strong> Características</strong> </div>
                <div><ul>
                    <li> <strong>Nombre científico:</strong>  <em>Pinus devoniana</em> </li>
                    <li> <strong>Nombre común:</strong>  Pino lacio. </li>
                    <li> <strong>Tipo de árbol:</strong>  Perennifolio. </li>
                    <li> <strong>Altura:</strong>  20 a 30 m. </li>
                    <li> <strong>Crecimiento:</strong> rápido. </li>
                    <li> <strong>Riego:</strong> moderado (2-3 veces por semana). </li>
                    <li> <strong>Suelo:</strong> bueno y enriquecido. </li>
                    <li> <strong>Clima:</strong> subtropical. </li>
                    <li> <strong>Luz necesaria:</strong> media sombra. </li>
                    <li> <strong>Fruto:</strong> no comestible. </li>
                </ul></div>
            </div>
        </div>
        <div class="box-product-detail">
            <div class="box-product-detail-column">
                <div class="title-detail-product">  Ahuehuete, sabino </div>
                <div> <img class="img-product-detail" src="/img/taxo1.jpg" alt="inga-1"> </div>
                <div> <img class="img-product-detail" src="/img/taxo2.jpg" alt="inga-1"> </div>
                <div class="precio-carrito">  <strong> $1234 </strong> </div>
                <div class="precio-carrito">Agregar carrito <a href=""><i class="fas fa-cart-plus" id="carrito"></i></a> </div>
            </div>
            <div class="box-product-detail-column">
                <div class="title-detail-product"> Región centro </div>
                <div> <strong> Características</strong> </div>
                <div><ul>
                    <li> <strong>Nombre científico:</strong>  <em>Taxodium huegelii</em> </li>
                    <li> <strong>Nombre común:</strong>  Ahuehuete, sabino. </li>
                    <li> <strong>Tipo de árbol:</strong>  Perennifolio. </li>
                    <li> <strong>Altura:</strong>  30 a 40 m. </li>
                    <li> <strong>Crecimiento:</strong> rápido. </li>
                    <li> <strong>Riego:</strong> frecuente (3-4 veces por semana). </li>
                    <li> <strong>Suelo:</strong> bueno y húmedo. </li>
                    <li> <strong>Clima:</strong> templado y frío. </li>
                    <li> <strong>Luz necesaria:</strong> sol directo. </li>
                    <li> <strong>Fruto:</strong> no comestible. </li>
                </ul></div>
            </div>
        </div>
        <div class="box-product-detail">
            <div class="box-product-detail-column">
                <div class="title-detail-product">  Ébano </div>
                <div> <img class="img-product-detail" src="/img/ebeno1.jpg" alt="inga-1"> </div>
                <div> <img class="img-product-detail" src="/img/ebeno2.jpg" alt="inga-1"> </div>
                <div class="precio-carrito">  <strong> $1234 </strong> </div>
                <div class="precio-carrito">Agregar carrito <a href=""><i class="fas fa-cart-plus" id="carrito"></i></a> </div>
            </div>
            <div class="box-product-detail-column">
                <div class="title-detail-product"> Región norte </div>
                <div> <strong> Características</strong> </div>
                <div><ul>
                    <li> <strong>Nombre científico:</strong>  <em>Ebenopsis ebano</em> </li>
                    <li> <strong>Nombre común:</strong>  Ébano. </li>
                    <li> <strong>Tipo de árbol:</strong>  Perennifolio. </li>
                    <li> <strong>Altura:</strong>  4 a 10 m. </li>
                    <li> <strong>Crecimiento:</strong> medio. </li>
                    <li> <strong>Riego:</strong> poco (1-2 veces por semana). </li>
                    <li> <strong>Suelo:</strong> bueno y ligero. </li>
                    <li> <strong>Clima:</strong> cálido. </li>
                    <li> <strong>Luz necesaria:</strong> pleno sol. </li>
                    <li> <strong>Fruto:</strong> no comestible. </li>
                </ul></div>
            </div>
        </div>
        <div class="box-product-detail">
            <div class="box-product-detail-column">
                <div class="title-detail-product">  Palo verde </div>
                <div> <img class="img-product-detail" src="/img/parkin1.jpg" alt="inga-1"> </div>
                <div> <img class="img-product-detail" src="/img/parkin2.jpg" alt="inga-1"> </div>
                <div class="precio-carrito">  <strong> $1234 </strong> </div>
                <div class="precio-carrito">Agregar carrito <a href=""><i class="fas fa-cart-plus" id="carrito"></i></a> </div>
            </div>
            <div class="box-product-detail-column">
                <div class="title-detail-product"> Región norte </div>
                <div> <strong> Características</strong> </div>
                <div><ul>
                    <li> <strong>Nombre científico:</strong>  <em>Parkinsonia aculeata</em> </li>
                    <li> <strong>Nombre común:</strong>  Palo verde. </li>
                    <li> <strong>Tipo de árbol:</strong>  Caducifolio. </li>
                    <li> <strong>Altura:</strong>  8 a 10 m. </li>
                    <li> <strong>Crecimiento:</strong> rápido. </li>
                    <li> <strong>Riego:</strong> poco (1-2 veces por semana). </li>
                    <li> <strong>Suelo:</strong> bueno y ligero. </li>
                    <li> <strong>Clima:</strong> cálido. </li>
                    <li> <strong>Luz necesaria:</strong> pleno sol. </li>
                    <li> <strong>Fruto:</strong> no comestible. </li>
                </ul></div>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <%- include('./partials/footer') %>
</body>
</html>