<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Log in</title>
</head>
<body>
    <p>Esta es la página de REGISTRO</p>
    <form action="resultado.html" method="POST">
        <div>
            <label for="nombre"> Nombre(s): </label>
            <input type="tex" name="nombre" id="nombre"> 
        </div>
        <div>
            <label for="apellidos"> Apellidos: </label>
            <input type="text" name="apellidos" id="apellidos">
        </div>
        <div>
            <label for="correo"> Correo: </label>
            <input type="email" name="correo" id="correo"> 
        </div>
        <div>
            <label for="contrasenia"> Contraseña: </label>
            <input type="password" name="contrasenia" id="contrasenia">
        </div>
        <div>
            <label for="confirmacontrasenia"> Confirmar contraseña: </label>
            <input type="password" name="confirmacontrasenia" id="confirmacontrasenia">
        </div>
        <div>
            <button type="submit">Crear nueva cuenta</button>
            <button type="reset">Borrar datos</button>
        </div>
        <div>
            <label>¿Ya tienes cuenta?</label>
        </div>
    </form>
</body>
</html>