* {
    box-sizing: border-box;
}

/* Sección de estilos para la vista index.html */
/* Los estilos para el header y el footer serán iguales a los estilos planteados en la vista de productCart.html*/
/* Main*/

/* Comencemos por el slider */

.contenedor-carrusel {
    margin: auto;
    background-color: rgba(192,192,192,0.4);
    width: 90%;
    padding: 16px;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider {
    position: relative;
    width: 100%;
    height: 400px;
}

ul.slider li {
    position: absolute;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}

ul.slider li img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    /* display: block; */
}

/* ul.slider li img #slide1 {
    display: block;
} */

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a{
    display: inline-block;
    color: black;
    text-decoration: none;
    background-color: black;
    padding: 0px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    border-radius: 100%;
}

/* Fin de estilos slider*/

.subtitle {
    font-family: 'Montserrat', sans-serif;
    color: #01937C;
    text-align: center;
}

article a{
    color:#01937C;
    text-decoration: none;
}

article {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 5px;
}

.container:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.info1, .info2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.productoX:hover .container{
    background-color:rgba(128, 128, 128, .4);
    color: #000;
    font-weight: bold;
}

.productoX {
    border-radius: 8%;
    border: #01937C solid 2px;
}

.productoX:hover {
    border: none;
}

.productoXimg {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.productoXimg img {
    max-height: 100%;
    max-width: 100%;
    width: 360px;
    height: 360px;
    object-fit: cover;
}

.space {
    padding: 2%;
}

/*Sección de estilos para la vista de register*/
.title-register {
    color: #01937C;
    font-family: 'Montserrat', sans-serif;
}

.register-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    border: #01937C 4px solid;  
    margin: 15%; 
}

.register{
    display: flex;
    color: #01937C;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding-top: 5%;
}

.register #boton-register {
    color: #FFF;
    background-color: #01937c;
}

.register-v2 {
display: flex;
    color: #01937C;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding-top: 5%;
    font-size: .7em;
    padding-bottom: 5%;
}
/* Sección de estilos para la vista productCart.html */

/* Header */
.burger-menu{
    text-align: center;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.burger-menu i{
    background-color: #01937C;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

.header-bottom-productCart {
    background-color: #9FE6A0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-bottom-productCart h1 {
    margin-bottom: 0;
}

.header-bottom-productCart h2 {
    margin-top: 0;
}

.header-productCart {
    border-top: #864000 solid 2px;
    border-left: #864000 solid 2px;
    border-right: #864000 solid 2px;
}

.header-top-productCart {
    display: flex;
    flex-wrap: wrap;
}

.logo-productCart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: solid 8px #4AA96C;
}

.logotipo-productCart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.logotipo-productCart img {
    width: 60%;
    height: auto;
}

.header-top-productCart {
    background-color: #4AA96C;
}

.navbar-productCart {
    font-family: 'Viaoda Libre', cursive;
    font-size: 12px;
    font-weight: bold;
    display: none;
}

.navbar-top-productCart ul li {
    list-style-type: none;
}

.navbar-top-productCart ul li a {
    text-decoration: none;
    color: black;
}

.fa-search {
    display: flex;
    flex-wrap: wrap;
}

.search-top {
    display: flex;
    flex-wrap: wrap;
}

.search {
    display: flex;
}

/* Main */
.article-productCart {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    border-bottom: dimgray solid 1px;
}

.article-productCart:hover {
    box-shadow: 10px 10px 5px rgba(138,221,45,0.6);
}

.article-total-productCart {
    background-color: #FFF;
    text-align: center;
    justify-content: flex-end;
}

.button-compra-carrito {
    background-color: #FFF;
    text-align: right;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 20px;
    justify-content: flex-end;
    margin-bottom: 0;
}

.button-compra-carrito button:hover {
    background-color: rgba(138,221,45,0.6);
}

.button-quitar-productCart input:hover {
    background-color: rgba(140,0,0,0.7);
}

.imagen-producto img {
    width: 100%;
}

.main-productCart {
    font-family: 'Montserrat', sans-serif;
    border-left: #864000 solid 2px;
    border-right: #864000 solid 2px;
}

.product-left {
    width: 50%;
    display: block;
    margin: auto;
    text-align: center;
}

.product-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-right-inferior {
    padding-bottom: 30px;
    text-align: center;
}

.product-right-superior {
    padding-top: 40px;
    text-align: center;
}

.section-productCart {
    background-color: #9FE6A0;
}

.section-productCart article {
    width: 90%;
    display: flex;
    margin: auto;
    margin-bottom: 8px;
    margin-top: 0;
}

.section-productCart .button-compra-carrito {
    margin-bottom: 0;
}

.titulo-productCart {
    background-color: #9FE6A0;
    padding: 12px;
}

.title-yourCart {
    background-color: #FFF;
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    border: solid 2px olivedrab;
    border-radius: 30%;
    width: 80%;
    height: 80%;
    margin: auto;
}

.total-productCart {
    text-align: right;
    padding-right: 20px;
    padding-top: 30px;
}

/* Footer */
.contact-form-productCart {
    padding-left: 60px;
    padding-bottom: 8px;
}

.follow-productCart {
    width: 35%;
}

.footer-productCart {
    font-family: 'Montserrat', sans-serif;
    background-color: #4AA96C;
    border-bottom: #864000 solid 2px;
    border-left: #864000 solid 2px;
    border-right: #864000 solid 2px;
}

.footer-productCart h4 {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: 700;
    margin-top: 0;
    padding-top: 15px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.redes-productCart {
    width: 30%;
}

.redessociales-productCart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 65%;
}

.socialmedia-productCart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.somos-productCart {
    width: 75%;
    display: block;
    margin: auto;
    text-align: justify;
}


/* Estilos formulario addProduct */

.addProduct {
    display: flex;
    color: #01937C;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding-top: 0.4%;
}

.addProduct #boton-login {
    color: #FFF;
    background-color: #01937c;
}


/* Estilos Panel de Administrador */

.admin-buttons-box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-button {
    color: #FFF;
    background-color: #01937C;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    padding: 10px;
}

/* Estilos vista users/welcome */
.contiene {
    height: 120px;
    width: 120px;
}

.image-user {
    height: 100%;
    width: auto;
    border-radius: 50%;
}

/* Contenido para tablet */

@media (min-width: 460px) {

    /* Estilos para index en tablet */

    article {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .space {
        width: 50%;
    }

    /* Estilos para productCart.html en tablet*/
    
    /* Header */
    .burger-menu {
        display: none;
    }

    .header-top-productCart {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .imagen-producto img {
        width: auto;
        height: 171px;
    }

    .logo-productCart {   
        display: flex;
        flex-wrap: wrap;
        width: 30%;
    }

    .logotipo-productCart {
        width: 100%;
    }

    .navbar-productCart {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 70%;
    }

    .navbar-productCart ul {
        padding-left: 0;
    }

    .navbar-top-productCart ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .navbar-top-productCart ul li {
        padding: 6px;
    }

    .product-left {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
    }

    .product-left .imagen-producto {
        height: 80%;
        justify-content: center;
    }

    .product-left .product-name {
        height: 20%;
        justify-content: center;
    }

    /* Main */
    .article-productCart .product-left, .product-right {
        max-height: 190px;
    }

    .title-yourCart {
        border: none;
        border-top: olivedrab solid 2px;
        border-bottom: olivedrab solid 2px;
        border-radius: 20%;
    }
    
    .total-productCart {
        text-align: right;
        padding-right: 75px;
        padding-top: 30px;
    }
    
    /* Footer */
    .footer-productCart {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /* Estilos formulario addProduct en tablet */

    .addProduct {
        display: flex;
        color: #01937C;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: left;
        margin: 1rem;
        align-items: center;
        padding-top: 0.4%;
    }

    /* Estilos Panel de Administrador */

    .admin-buttons-box {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

}

/* Contenido para laptop */

@media (min-width: 768px) {

    /* Estilos para index en laptop */

    .space {
        width: 25%;
    }

    /* Estilos para productCart.html en laptop */

    /* Header */

    .logo-productCart {
        width: 30%;
    }

    .navbar-productCart {
        font-size: 20px;
    }

    .navbar-top-productCart ul li {
        padding: 15px;
    }
    
    /* Main */
    .total-productCart {
        text-align: right;
        padding-right: 145px;
        padding-top: 30px;
    }


    /* Footer */
    .follow-productCart {
        width: 100%;
    }

    .footer-productCart section {
        width: 33%;
    }

    .redessociales-productCart {
        width: 100%;
    }
}


/* Estilos login y productDetail*/

.login {
    display: flex;
    color: #01937C;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding-top: 5%;
}

.title-login {
    color: #01937C;
    font-family: 'Montserrat', sans-serif;
}

.login-v2 {
    display: flex;
    color: #01937C;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding-top: 5%;
    font-size: .7em;
    padding-bottom: 5%;
}

.label {
    padding: 1%;
}


.login-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    border: #01937C 4px solid;  
    margin: 15%; 
}


.login #boton-login {
    color: #FFF;
    background-color: #01937c;
}

.box-product-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    border: #01937C 4px solid;  
    margin: 5%;
}

.box-product-detail-column {
    display: flex;
    width: 50%;
    flex-direction: column;
    flex-wrap: unwrap;
    color: #01937C;
    justify-content: flex-start;
    align-items: right;
    font-family: 'Montserrat', sans-serif;
    border: #01937C 1px solid; 
    margin: 1%; 
}

.title-detail-product {
    background-color: #01937C;
    color: #FFF;
    margin-bottom: 5%;
    font-size: 1.6em;
    text-align: center;
}

.img-product-detail {
    width: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 5%;
}

.precio-carrito {
    padding-top: 8%;
    text-align: center;
}

.agregar-carrito {
    color: #FFF;
    background-color: #01937C;
    padding: 10%;
    border-radius: 10%;
    margin-left: 3%;
    margin-right: 6%;
    width: 70%;
    text-align: center;
}

#carrito {
    color: #01937C;
}



.img-product-detail {
    width: 80%;
    margin: auto;
}
/* fin de estilos login y product detail*/

/* Estilos botones vista productDetail */

.detail #action-button- {
    color: #FFF;
    background-color: #01937c;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    padding: 10px;
}