<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <title>Un árbol para ti - Registro</title>
</head>
<body>
    <!-- Header -->
    <%- include('../partials/header') %>
    <main>
    <h1 class="title-register"> Registro </h1>
    <br>
    <form action="resultado.html" method="POST">
        <div class=register-box>
            <br><div class= register>
            <label for="nombre"> Nombre(s): </label>
            <input type="tex" name="nombre" id="nombre"> 
        </div>
        <br><div class=register>
            <label for="apellidos"> Apellidos: </label>
            <input type="text" name="apellidos" id="apellidos">
        </div>
        <br><div class=register>
            <label for="correo"> Correo: </label>
            <input type="email" name="correo" id="correo"> 
        </div>
        <br><div class=register>
            <label for="contrasenia"> Contraseña: </label>
            <input type="password" name="contrasenia" id="contrasenia">
        </div>
        <br><div class=register>
            <label for="confirmacontrasenia"> Confirmar contraseña: </label>
            <input type="password" name="confirmacontrasenia" id="confirmacontrasenia">
        </div>
        <div class=register>
           <br><button type="submit" id=boton-register>Crear nueva cuenta</button>
        </div>
        <div class=register>
            <br><label>¿Ya tienes cuenta?</label>
        </div>
        <div class=register-v2>
        <a href="#">Ingresa</a>
        </div>
    </form>
</main>
<!-- Footer -->
<%- include('../partials/footer') %>
</body>
</html>