<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <title>Un árbol para ti - Registro correcto</title>
</head>
<body>
    <!-- Header -->
    <%- include('../partials/header') %>
    <main>
        <h1 class="title-login"> Usuario registrado satisfactoriamente </h1>
        <h3 class="title-login"><a href="/login">Ir a loguearse</a></h3>
        <br>
        <br>
        <br>
    </main>
    <!-- Footer -->
    <%- include('../partials/footer') %>
</body>
</html>