<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <title>Un árbol para ti - Log in</title>
</head>
<body>
    <!-- Header -->
    <%- include('../partials/header') %>
    <main>
    <h1 class="title-login"> Bienvenid@  </h1>
    <br>
    
    </main>
    <!-- Footer -->
    <%- include('../partials/footer') %>
</body>
</html>